In [11]:
import pandas as pd 
import numpy as np
data=[[1200,1,0,0,2,'Skinny'], 
      [2800,1,1,1,1,'Normal'],
      [3500,2,2,1,0,'Fat'],
      [1400,0,1,0,3,'Skinny'],
      [5000,2,2,2,0,'Fat'],
      [1300,0,0,1,2,'Skinny'],
      [3000,1,0,1,1,'Normal'],
      [4000,2,2,2,0,'Fat'],
      [2600,0,2,0,0,'Normal'],
      [3000,1,2,1,1,'Fat']
     ]
df=pd.DataFrame(data, columns=['calory',
                        'breakfast','lunch','dinner',
                        'exercise','body_shape'])

In [4]:
df

   calory  breakfast  lunch  dinner  exercise body_shape
0    1200          1      0       0         2     Skinny
1    2800          1      1       1         1     Normal
2    3500          2      2       1         0        Fat
3    1400          0      1       0         3     Skinny
4    5000          2      2       2         0        Fat
5    1300          0      0       1         2     Skinny
6    3000          1      0       1         1     Normal
7    4000          2      2       2         0        Fat
8    2600          0      2       0         0     Normal
9    3000          1      2       1         1        Fat

## Split feature vector and labels

In [5]:
X = df[['calory','breakfast','lunch','dinner','exercise']]
Y = df[['body_shape']]

## Rescale feature vectors to all have the same scale

In [6]:
from sklearn.preprocessing import StandardScaler
x_std=StandardScaler().fit_transform(X)

In [9]:
x_std[:,0]

array([-1.35205803,  0.01711466,  0.61612771, -1.18091145,  1.89972711,
       -1.26648474,  0.18826125,  1.04399418, -0.15403193,  0.18826125])

In [12]:
np.(x_std[:,0])

1.3877787807814457e-17